<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Security Application</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<div class="row">
			<div lang="tr" th:replace="fragments/header :: header"></div> 
			<div lang="tr" th:replace="fragments/header :: title"></div>
			<div class="col-md-12"></div>
			<div class="col-md-12"  th:if="${message}" >
				<div class="alert alert-warning alert-dismissible fade show" role="alert" >
					<strong th:text="${message}"></strong> 
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
					</button>
				</div>
			</div>
			<div class="col-md-6">
				<img alt="" class="img-thumbnail "
					src="https://static.javatpoint.com/sppages/springsecurity/images/spring-security-tutorial.png">
			</div>
			<div class="col-md-6"  th:if="${user}">
				<ul class="list-group" style="font-weight: bold">
					<li class="list-group-item active" ><h5 style="text-align: center;margin: auto;">User Informations</h5></li>
					<li class="list-group-item" th:text="'Kullanıcı adı : '+${user.getUsername()}"></li>
					<li class="list-group-item" th:text="'İsim : '+${user.getFirstname()}"></li>
					<li class="list-group-item" th:text="'Soyisim : '+${user.getLastname()}"></li>
					<li class="list-group-item" th:text="'Email : '+${user.getEmail()}"></li>
					<li class="list-group-item" th:text="'Cinsiyet : '+${user.getGender()}"></li>

				</ul>
				<hr>
				<div class="margin-top20 text-center">
					<a class="btn btn-info" th:href="@{'/user/update-user/' + ${adminname}}+'/'">Update informations</a>
					<a class="btn btn-warning" th:href="@{'/user/update-user-password/' + ${adminname}}+'/'">Update password</a>
					<a class="btn btn-danger" th:href="@{'/user/delete-user/' + ${adminname}}+'/'">Delete</a>
				</div>
			</div>

		<div class="col-md-6" style="border: 1px solid #ddd" >
			<h5 style="text-align: center;margin: auto;" class="list-group-item active" >Update Password</h5><hr>
		    <form autocomplete="off" action="#" th:action="@{/user/update-user-password/}"  method="post">
		   		
		        <label>Password</label>
		        <input type="text" id="oldpassword1" placeholder="Old password" name="oldpassword1"  class="form-control" required="required"/><br/>
		        <label>Retype Password</label>
		        <input type="text" id="oldpassword2" placeholder="Old password" name="oldpassword2"  class="form-control" required="required"/><br/>
		        <label>New Password</label>
		        <input type="text" id="password" placeholder="New Password" name="password"  class="form-control" required="required"/><br/>
				<button type="submit" class="btn btn-primary text-center form-control">Save</button>
		    </form>
		    </div>

		</div>
	</div>
	
	<div lang="tr" th:replace="fragments/header :: jsfile"></div>
	</body>
</html>