<!DOCTYPE html>
<html lang="en" ></html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}" />
    <title>Çalışana Ait Adresler</title>
</head>
<body>
<div align="center">

    <h1>Çalışan Adresleri</h1>
    <a th:href="@{'/'}">Home Page</a><br><br>

    <a th:href="@{'/list-addresses/add-address/' + ${listAdresses.get(0).calisanId}}">Yeni Adres Ekle(Dropdown List)</a><br>

    <link href="webjars/bootstrap/4.5.3/css/bootstrap.min.css" rel="stylesheet">
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
        <tr>

            <th>Country</th>
            <th>City</th>
            <th>District</th>
            <th>Details</th>
            <th>Actions</th>
            <link href="webjars/bootstrap/4.5.3/css/bootstrap.min.css" rel="stylesheet">
        <tr>
        </thead>
        <tbody>
        <tr th:each="adress: ${listAdresses}">
            <td th:text="${adress.country.countryName}">Country</td>
            <td th:text="${adress.city.cityName}">Şehir</td>
            <td th:text="${adress.district.districtName}">İlçe</td>
            <td th:text="${adress.addressDetails}">Adres Detay</td>
            <td th:hidden="${adress.calisanId}"></td>

            <link href="webjars/bootstrap/4.5.3/css/bootstrap.min.css" rel="stylesheet">
            <td><a th:href="@{'/edit-address/' + ${adress.calisanId}+'/'+${adress.adressDropDownId}}">Adres Düzenle</a>
              &nbsp;
                <a th:href="@{'/delete-address/' + ${adress.calisanId}+'/'+${adress.adressDropDownId}}">Adres Sil</a>
                &nbsp;
            </td>

        </tr>
        </tbody>
    </table>
</div>
</body>
</html>