<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Çalışan Adres</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}" />
</head>

<body>

<div align="center">
    <h1>Çalışan Adres Select-Option</h1>

    <a th:href="@{'/'}">Home Page</a><br><br>
</div>
<form action="#"  th:object="${addressDropDown}" th:action="@{'/save-addresss/'+${clsnId}}" method="post"  >
<div class="form-row">
    <div class="col-md-6  select-arrow-active " >
        <div class="form-group" row>
            <label class="col-sm-3 col-form-label">Country</label>
            <div class="col-sm-9">
                <select th:field="*{country}" class="form-control" id="country"  required>
                    <option value="" th:disabled="disabled" th:selected="selected">Countries</option>
                    <option th:each= "country : ${countryList}" th:value="${country.countryId}" th:text="${country.countryName}"></option>
                </select>
             </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-row">
        <label class="col-sm-6 col-form-label" >City</label>
        <div class="col-sm-9">
            <select  th:field="*{city}"id="form-control-city" class="form-control" required >
            </select>
        </div>
        </div>
    </div>
</div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group" row>
                <label class="col-sm-3 col-form-label">District</label>
                <div class="col-md-9">
                    <select th:field="*{district}" id="form-control-district" class="form-control" required >
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group" row>
                <label  class="col-sm-3 col-form-label" for="inputAdressDetails" >Adres Detay</label>
                <div class="col-sm-6">
                <input type="text" th:field="*{addressDetails}" class="form-control" id="inputAdressDetails" placeholder="1234 Main St" required>
                </div>
            </div>
        </div>
    </div>

    <button type="submit" id="saveButton" class="btn btn-primary m-3">Kaydet</button>
    <button type="reset"  id="resetButton" class="btn btn-primary" >Temizle</button>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/webjars/jquery/3.5.1/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.min.js}"></script>

<script type="text/javascript">

    $(document).ready(
        listCity = function (){
            $('#country').change(function () {
                $.getJSON('/api/address/city-by-country?',{
                        country_id : $('option:selected','#country').attr("value"),
                    },
                    function (data) {
                        var html ='<option  disabled value="">City</option>';
                        var len = data.length;
                        for (var i=0;i<len;i++){
                            html+='<option value ="'+data[i].city_id+ '">'
                                + data[i].city_name+'</option>';
                        }
                        html+='</option>';
                        $('#form-control-city').html(html)
                    });

            });
        });


    $(document).ready(
        listDistrict = function () {
            $('#form-control-city').change(function () {
                $.getJSON('/api/address/districts-by-city?',{
                        city_id : $('option:selected','#form-control-city').attr("value")
                    },
                    function (data) {
                        var html ='<option  disabled value="">District</option>';
                        var len = data.length;
                        for (var i=0;i<len;i++){
                            html+='<option value ="'+data[i].district_id+ '">'
                                + data[i].district_name+'</option>';
                        }
                        html+='</option>';
                        $('#form-control-district').html(html)
                    });

            });
        });

</script>

</body>
</html>
